<div class="content consulting-content">
    <!--<div class="section-1 cover-img">-->
    <!--</div>-->
    <div class="section-2">
        <!--<h2 class="text-center">uSee眼动咨询服务</h2>-->
        <div class="cover-img">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 po-relative">&nbsp;
                        <h3 class="cons-item-1 text-primary text-center img-circle">眼动数据分析</h3>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 po-relative">&nbsp;
                        <h3 class="cons-item-2 text-primary text-center img-circle">眼动刺激呈现</h3>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 po-relative">&nbsp;
                        <h3 class="cons-item-3 text-primary text-center img-circle">眼动实验室建设</h3>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 po-relative">&nbsp;
                        <h3 class="cons-item-4 text-primary text-center img-circle">眼动实验技能培训</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="usee-des-text">
            <h4>uSee眼动咨询服务包括：</h4>
            <ul>
                <li>眼动仪数据分析；</li>
                <li>眼动仪刺激呈现；</li>
                <li>眼动实验室建设；</li>
                <li>眼动实验相关技能培训。</li>
            </ul>
        </div>
    </div>
</div>
