<div class="content contact-content">
    <div class="section-1 cover-img">

    </div>
    <div class="section-2">
        <p>电话 <br>
            <b>中国地区</b> &nbsp;&nbsp;(+86) 130 5138 1327 <br>
            <b>美国/加拿大</b>&nbsp;&nbsp;(+1) 217 417 3830</p>
        <p>地址<br>
            北京市海淀区中关村东路16号院1号楼201</p>
        <p>邮箱<br>
            <b>技术支持</b>&nbsp;&nbsp;supports@usee.tech<br>
            <b>购买/代理咨询</b>&nbsp;&nbsp;customers@usee.tech<br>
            <b>投资洽谈</b>&nbsp;&nbsp;hejibo@usee.tech</p>
        <p>网址<br>
            http://www.usee.tech</p>
        <p>微信<br>
            <b>微信号</b>&nbsp;&nbsp;394125345 <br>
            <b>微信昵称</b>&nbsp;&nbsp;眼随心动</p>
    </div>
</div>
