<div class="content customers-content">
    <!--<div class="section-1 cover-img">-->

    <!--</div>-->
    <div class="section-2">
        <!--<h2 class="text-center text-primary">眼动仪运用客户</h2>-->
    </div>
    <div class="cover-img section-2-bottom container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 po-relative">&nbsp;
                <h3 class="text-primary text-center img-circle">广告评估</h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 po-relative">&nbsp;
                <h3 class="item-2 text-primary text-center img-circle">用户体验</h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 po-relative">&nbsp;
                <h3 class="item-3 text-primary text-center img-circle">科学研究</h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 po-relative">&nbsp;
                <h3 class="item-4 text-primary text-center img-circle">眼动控制</h3>
            </div>
        </div>
    </div>
    <div class="section-3">
        <div class="customers-item">
            <h2 class="text-center">广告效果评估</h2>
            <p class="sub-p text-center">眼动仪在广告公司中的应用</p>
            <p>
                <img class="img-responsive" src="./assets/img/cus1.jpg" alt="">
            </p>
            <p>
                <img class="img-responsive" src="./assets/img/cus2.jpg" alt="">
            </p>
        </div>
        <div class="customers-item">
            <h2 class="text-center">用户体验领域的应用</h2>
            <p class="sub-p text-center">用眼动仪优化网页设计，提高转化率。</p>
            <p>
                <img class="img-responsive" src="./assets/img/cus3.jpg" alt="">
            </p>
        </div>
        <div class="customers-item">
            <h2 class="text-center">发展心理学研究中的应用</h2>
            <p class="sub-p text-center">眼动仪广泛用于阅读，儿童心理学、可以认知心理学等研究领域。 <br>
                跟踪儿童注视位置，研究自闭症儿童心理。</p>
            <p>
                <img class="img-responsive" src="./assets/img/cus4.jpg" alt="">
            </p>
            <p>
                <img class="img-responsive" src="./assets/img/cus5.jpg" alt="">
            </p>
        </div>
        <div class="customers-item">
            <h2 class="text-center">驾驶行为中的应用</h2>
            <p class="sub-p text-center">使用眼动仪检测司机是否疲劳驾驶，提高驾驶安全。</p>
            <p>
                <img class="img-responsive" src="./assets/img/cus6.jpg" alt="">
            </p>
        </div>
    </div>
</div>
