
<div class="content report-content">
    <div class="section-1">
        <video src="http://usee.tech/PR_materials/usee%20video-version%202.1.mp4" controls="controls">
            您的浏览器不支持 h5 视频播放。
        </video>
    </div>
    <div class="section-2">
        <div class="report-item">
            <p class="title">优势眼动科技入围《创业美国》首届留学生创业大赛入围公司</p>
            <p class="report-media">
                <a href="http://v.qq.com/page/i/4/c/i0342sfkq4c.html">《创业美国》报道腾讯视频</a> <br>
                <a href="http://v.youku.com/v_show/id_XMTgwNDc0Njk1Ng==.html?from=s1.8-1-1.2&spm=a2h0k.8191407.0.0">《创业美国》报道优酷视频</a>
            </p>
        </div>
        <div class="report-item">
            <p class="title">优势眼动科技获浙江卫视、嘉兴日报报道 <br>
                《海纳创新创业大赛决赛在嘉兴举行，高新技术成果竞相亮相》</p>
            <p class="report-media">
                <a href="http://biz.zjol.com.cn/system/2016/12/26/021407292.shtml">查看报道链接</a>
            </p>
        </div>
    </div>
</div>
