
<div class="products-content content">
    <div class="section-1 cover-img">
        <p class="pro-img">
            <img src="./assets/img/products-1.jpg" alt="">
        </p>
        <div class="products-item item1">
            <p>前置双摄像头设计 <br>
                接近人类视野的120度视角<br>
                世界上视野最大的眼动仪 </p>
        </div>
        <div class="products-item item2">
            <p>额头前部软垫设计<br>
                佩戴舒适</p>
        </div>
        <div class="products-item item3">
            <p>鼻托可拆卸 <br>
                适合亚洲人鼻梁高度</p>
        </div>
        <div class="products-item item4">
            <p>更符合中国人的人体工效学设计</p>
        </div>
    </div>
    <div class="section-2">
        <h2 class="text-center text-primary">uSee眼动仪产品</h2>
        <p>
            <img class="img-responsive" src="./assets/img/products1.jpg" alt="">
        </p>
        <p>
            <img class="img-responsive" src="./assets/img/products2.jpg" alt="">
        </p>
        <p>
            <img class="img-responsive" src="./assets/img/products3.jpg" alt="">
        </p>
        <p>
            <img class="img-responsive" src="./assets/img/products4.jpg" alt="">
        </p>
        <div class="usee-des-text">
           <ul>
               <li>双前置摄像头，提供市场独一无二的120度大视野摄像头，利于行为观察研究，
                   例如用户体验、广告分析和市场营销研究。</li>
               <li>独特专利设计的磁吸性鼻托，解决亚洲人佩戴舒适性的问题。</li>
               <li>镜托可以架在眼镜上，解决了所有的竞品都无法解决的戴眼镜用户的佩戴问题。
               </li>
               <li>
                   针对中国人头颅结构设计，解决国外产品无法在中国舒适使用的问题。</li>
           </ul>
        </div>
    </div>
</div>
