img {
  font-weight: 300;
  line-height: 2;
  text-align: center;
  width: 100%;
  height: auto;
  position: relative; }
  img:after {
    font-family: 'FontAwesome';
    content: "\f016" " " "img broken!";
    font-size: 16px;
    color: #646464;
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; }

.content {
  padding-top: 50px; }

.consulting-body li.consulting a, .index-body li.home a,
.products-body li.products a, .customers-body li.customers a,
.about-body li.about a, .contact-body li.contact a {
  border-bottom: 3px solid #fb3338;
  color: #fb3338;
  background-color: transparent; }

.footer {
  padding: 50px 90px 100px;
  background-color: #ebebeb; }
  .footer .item-content {
    padding: 10px; }
  .footer h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #cccccc;
    color: #fff; }
  .footer video {
    height: 100%;
    width: 100%; }

.footer-item {
  padding-bottom: 29px;
  background-color: #fff;
  position: relative; }
  .footer-item.invest .item-content, .footer-item.media-report .item-content {
    height: 160px;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle; }
  .footer-item .more {
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin-bottom: 0; }
  .footer-item.job .item-content {
    height: 60px; }

.content.consulting-content {
  padding-top: 50px; }
  .content.consulting-content .section-1 {
    background: url(../img/con1.jpg) no-repeat center center;
    min-height: 630px;
    border-bottom: 1px solid #fb3338; }
  .content.consulting-content .section-2 .cover-img {
    background: url(../img/con2.jpg) no-repeat center center;
    min-height: 500px;
    border-top: 1px solid #fb3338;
    border-bottom: 1px solid #fb3338; }
  .content.consulting-content .cover-img {
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover; }
  .content.consulting-content h2 {
    color: #fb3338;
    margin-top: 90px;
    margin-bottom: 60px; }
  .content.consulting-content .usee-des-text {
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 100px; }
    .content.consulting-content .usee-des-text p {
      font-size: 18px; }

.content.index-content .section-1 {
  min-height: 600px; }
  .content.index-content .section-1 img {
    height: 600px; }
  .content.index-content .section-1 i {
    color: #fb3338;
    font-size: 40px; }
.content.index-content .section-3 {
  background: url(../img/index-1.jpg) no-repeat center center;
  border-bottom: 1px solid #fb3338;
  min-height: 410px; }
  .content.index-content .section-3 h2 {
    color: #fb3338;
    padding-top: 190px;
    padding-left: 100px; }
.content.index-content .section-4-bottom {
  background: url(../img/index-2.jpg) no-repeat center center;
  border-bottom: 1px solid #fb3338;
  min-height: 350px; }
.content.index-content .cover-img {
  padding: 0;
  -webkit-background-size: cover;
  background-size: cover;
  -moz-background-size: cover; }
.content.index-content .section-4 {
  padding: 50px 100px 0 100px; }
  .content.index-content .section-4 .purpose-item {
    margin-bottom: 30px; }
    .content.index-content .section-4 .purpose-item h3 {
      background-color: #fb3338;
      color: #fff;
      margin: 0;
      padding: 10px 0; }
.content.index-content .section-4-bottom {
  padding: 50px 100px 0 100px; }
  .content.index-content .section-4-bottom h3 {
    border: 2px solid #fb3338;
    line-height: 190px;
    width: 190px; }

.content.products-content {
  padding-top: 50px; }
  .content.products-content .section-1 {
    background: url(../img/products-1.jpg) no-repeat center center;
    min-height: 630px;
    border-bottom: 1px solid #fb3338; }
  .content.products-content .cover-img {
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover; }
  .content.products-content .section-2 {
    padding-top: 60px; }
    .content.products-content .section-2 img {
      border-bottom: 1px solid #fb3338;
      height: 700px;
      width: 100%; }
    .content.products-content .section-2 .usee-des-text {
      padding-top: 50px;
      padding-left: 100px;
      padding-bottom: 100px; }
      .content.products-content .section-2 .usee-des-text p {
        font-size: 18px;
        line-height: 35px; }

.content.customers-content {
  padding-top: 50px; }
  .content.customers-content .section-1 {
    background: url(../img/customers1.jpg) no-repeat center center;
    min-height: 630px;
    border-bottom: 1px solid #fb3338; }
  .content.customers-content .section-2-bottom {
    background: url(../img/customers2.jpg) no-repeat center center;
    min-height: 410px;
    border-bottom: 1px solid #fb3338; }
  .content.customers-content .cover-img {
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover; }
  .content.customers-content .section-2 {
    padding: 50px 100px 0 100px; }
    .content.customers-content .section-2 h2 {
      padding-top: 110px;
      padding-bottom: 55px; }
  .content.customers-content .section-2-bottom {
    padding: 50px 100px 0 100px; }
    .content.customers-content .section-2-bottom h3 {
      border: 2px solid #fb3338;
      line-height: 190px;
      width: 190px; }
  .content.customers-content .section-3 {
    padding-bottom: 140px; }
  .content.customers-content .customers-item {
    padding: 50px 110px 0 110px; }

.content.about-content {
  padding-top: 50px; }
  .content.about-content .section-1 {
    background: url(../img/about1.jpg) no-repeat center center;
    min-height: 630px;
    border-bottom: 1px solid #fb3338; }
  .content.about-content .cover-img {
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover; }
  .content.about-content .section-2 {
    padding: 100px; }
    .content.about-content .section-2 h2 span {
      font-size: 14px; }
    .content.about-content .section-2 img {
      margin: 50px 0; }
    .content.about-content .section-2 .team-intro {
      margin-top: 50px;
      margin-bottom: 100px;
      line-height: 25px; }
    .content.about-content .section-2 .invest-intro {
      line-height: 30px; }
    .content.about-content .section-2 img.qr-code {
      width: 100px;
      height: 100px;
      margin: 0; }

.content.contact-content {
  padding-top: 50px; }
  .content.contact-content .section-1 {
    background: url(../img/contact1.jpg) no-repeat center center;
    min-height: 630px;
    border-bottom: 1px solid #fb3338; }
  .content.contact-content .cover-img {
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover; }

/*# sourceMappingURL=style.css.map */
