<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="footer-item invest">
                    <h3 class="text-center">投资我们</h3>
                    <div class="item-content">
                        <p class="text-center">为什么要投资我们？</p>
                        <p>子曰：“学而时习之，不亦说乎？有朋自远方来，不亦乐乎？人不知而不愠，不亦君子乎？”
                            有子曰：“其为人也孝弟，而好犯上者，鲜矣；不好犯上而好作乱者，未之有也。君子务本，本立而道生。孝弟也者，其为仁之本与！”
                            子曰：“巧言令色，鲜矣仁！”
                            曾子曰：“吾日三省吾身：为人谋而不忠乎
                    </div>
                    <p class="text-right more"><a href="#">更多</a></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="footer-item media-report">
                    <h3 class="text-center">媒体报道</h3>
                    <div class="item-content">
                        <div class="col-xs-6">
                            <video src="./assets/video/footer.mp4" controls>
                                你的浏览器不支持h5视频播放
                            </video>
                        </div>
                        <div class="col-xs-6">
                            <p><a href="#">浙江卫视报道</a></p>
                            <p><a href="#">《创业美国》报道</a></p>
                            <p><a href="#">xtecher.com报道</a></p>
                        </div>
                    </div>
                    <p class="text-right more"><a href="#">更多</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="footer-item job">
                    <h3 class="text-center">人才招聘</h3>
                    <div class="item-content">
                        <p class="text-center">设计师招聘</p>
                        <p class="text-center">Python工程师招聘</p>
                    </div>
                    <p class="text-right more"><a href="#">更多</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
