<div class="footer">
    <div class="container-fluid">
        <!--<p class="text-center"><img src="./assets/img/logo.png" alt=""></p>-->
        <p class="text-center links">
            <a href="#">加入我们</a>|
            <a class="report-nav" href="./news-report.html">媒体报道</a>|
            <a class="job-nav" href="./job.html">人才招聘</a>|
            <a class="contact-nav" href="./contact.html">联系我们</a>
        </p>
        <p class="text-center copy-right">© 2017 - 2027 uSee.tech</p>
    </div>
</div>
